### EDA

In [1]:
# Imports:
import pandas as pd
import numpy as np

In [10]:
# Reading in data:
climate = pd.read_csv('./data/cc_posts.csv')
climate.head()

,title,score,id,subreddit,url,num_comments,body,created,date
0,Hurricane Harvey survivors only now getting ba...,1,x2md4s,climatechange,https://www.beaumontenterprise.com/news/articl...,0,NaN,1.661974e+09,2022-08-31 19:30:28
1,In what condition would the atmosphere have to...,0,x2emjd,climatechange,https://www.reddit.com/r/climatechange/comment...,5,What is currently happening in Earth is it's ...,1.661955e+09,2022-08-31 14:10:44
2,Has anyone here been personally affected by a ...,26,x27u36,climatechange,https://www.reddit.com/r/climatechange/comment...,21,"With what’s happened in Pakistan, ongoing wild...",1.661933e+09,2022-08-31 08:07:27
3,A prolonged and record heat wave builds over t...,54,x1y1kh,climatechange,https://www.cnn.com/2022/08/30/weather/record-...,10,NaN,1.661902e+09,2022-08-30 23:33:35
4,Graph that illustrates changes in major weathe...,6,x1v5ru,climatechange,https://www.reddit.com/r/climatechange/comment...,5,I’m looking for a graph that depicts the shift...,1.661895e+09,2022-08-30 21:32:19

In [11]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10161 entries, 0 to 10160
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         10161 non-null  object
 1   score         10161 non-null  int64
 2   id            10161 non-null  object
 3   subreddit     10161 non-null  object
 4   url           10161 non-null  object
 5   num_comments  10161 non-null  int64
 6   body          4239 non-null   object
 7   created       10161 non-null  float64
 8   date          10161 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 714.6+ KB

In [12]:
climate['num_comments'].describe()

count    10161.000000
mean        12.490306
std         20.334562
min          0.000000
25%          2.000000
50%          5.000000
75%         14.000000
max        274.000000
Name: num_comments, dtype: float64

In [13]:
(climate['num_comments'] == 0).sum()

121